body {
    margin: 0px;
}

#banner {
    background-color: #0B873D;
    color: white;
    font-size: 150%;
    text-align: center;
}

#left {
    background-color: #8CE1AE;
    width: 40%;
    height: 600px;
    float: left;
}

#center {
    background-color: #5CCB89;
    width: 40%;
    height: 600px;
    float: left
}

#right {
    background-color: #1DA956;
    width: 20%;
    height: 600px;
    float: left;
}

a {
    color: brown;
}

a:visited {
    color: red;
}

ul {
    margin: 20px;
    list-style-image: url("auto.png");
}

h1 {
    margin-top: 0px;
}